
<ion-view class="bg-menu">
  <ion-content>


    <div class="card">
      <div class="item item-text-wrap border-no">
        <h3 class="title about text-center "><span>ABOUT</span>
     <span>THE</span>
        <span>PROGRAM</span></h1>
        <div>
        <p><span class="text-bold">i Lead</span> is a unique incentive program, which will honor your efforts at the market place for Sales, SFKPI &amp; Processes through an exciting reward system. </p>
  <p>

  <span  class="text-bold">i Lead</span> is a point based program for Field Force, in which field force will accumulate reward points on achievement of pre-defined KPIs, which can be redeemed later for gifts through an exclusive web</p>
  </div>
  </div>


  <ul class="ulclass"><h3>How does it work?</h3>
    <li >The reward points are based on the consistent
    delivery of Pre-defined KPIs.</li>
   <li >Field Force may choose to club the point for
   more than one quarter and redeem when he/she
   wishes, provided the qualifying criteria for
   redemption is met.
</li>
<li>
 Field Force may choose to club the point for
   more than one quarter and redeem when he/she
   wishes, provided the qualifying criteria for
   redemption is met.
</li>
   <li > FF can log on to an exclusive web portal/Mobile
   application for the following- <br>
   <div class="inside-li">
     » to view their KPI performance <br>
     » to check the points accumulated <br>
  	» To browse through the gift catalogue to
              choose the gifts based on the points
              accumulated.<br>
   </div>


</li>

  </ul>
  <h5 class="end">Wish you all a very happy &amp; rewarding browsing…. </h5>
</div>



  </ion-content>
</ion-view>
