
<ion-view class="bg-menu">
  <ion-content>


    <div class="card">
      <div class="item item-text-wrap  about-card">
        <div class="">
          <img src="img/imgabout.png" alt="">
        </div>
        <div class="abt-div">


        <h3 class="title about text-center ">About iLead </h3>
        <div>
        <p><span class="text-italic">i Lead</span> is a unique incentive program, which will honor your efforts at the market place for Sales, SFKPI &amp; Processes through an exciting reward system.  </p>
  <p>

  <span  class="text-italic">i Lead</span> is a point based program, in which you will accumulate reward points on achievement of pre-defined KPIs, which can be redeemed later for gifts through this Mobile Application or Web portal.</p>
  </div>


  <ul class="ulclass"><h3>How does it work?</h3>
    <li >The reward points are based on the consistent
    delivery of Pre-defined KPIs. </li>
   <li >You will accumulate reward points on
    achievement of pre-decided KPI parameters,
    which can be redeemed at the end of the
    quarter after fulfilling the qualifying criteria.
</li>
<li>
  You may choose to club the point for
    more than one quarter and redeem when you
    wish to, provided the qualifying criteria for
    redemption is met.
</li>
   <li > You can log on this Mobile application for the
    following-

    <ul class="inside-li">
      <li> To view your KPI performance</li>
      <li> To check the points accumulated</li>
      <li> To browse through the gift catalogue, to
              choose the gifts based on the points
              accumulated.</li>
      <li>Redeem the points for getting your desired</li>
    </ul>

</li>
  </ul>
  <h5 class="end">Wish you all a very happy &amp; rewarding browsing…. </h5>
  </div>
    </div>
</div>
  </ion-content>
</ion-view>
