<ion-view class="bg-menu">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ui-sref="home-menu">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-view name="menuContent">
    <img src="img/Ilead_Logo.png" alt="" class="iclass">
    <div class="nm-left">
      <div class="pull-right">
        <span class="color-grey">Welcome: {{profile.name}}</span>
        <span class="color-grey font-bold">Total Ponts: {{profile.points}}</span>
      </div>
    </div>
  </ion-nav-view>
  <ion-content class="shippingCard">
    <div class="" ng-if="otpValidate">
      <h3 class="shippingHead">Confirm Your Order</h3>
      <div class="confirmCard" ng-repeat="item in confirm.items">
        <div class="row">
          <div class="col-33">
            <label class="confirmDetails" for="">Product Name:</label>
          </div>
          <div class="col-66">
            <label class="confirmOrderDetails" for="">{{item.name}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label class="confirmDetails" for="">Model:</label>
          </div>
          <div class="col-66">
            <label class="confirmOrderDetails" for="">{{item.modelno}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label class="confirmDetails" for="">Quantity:</label>
          </div>
          <div class="col-66">
            <label class="confirmOrderDetails" for="">{{item.quantity}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label class="confirmDetails" for="">Points:</label>
          </div>
          <div class="col-66">
            <label class="confirmOrderDetails" for="">{{item.points}}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <label class="confirmDetails" for="">Total Points:</label>
          </div>
          <div class="col-66">
            <label class="confirmOrderDetails" for="">{{item.points*item.quantity}}</label>
          </div>
        </div>
      </div>
      <button class="button button-block button-positive myCartPtsBtn" disabled>
  Grand Total Points : {{grandTotal}}
</button>
      <h3 class="shippingHead">Confirm Your Shipping Address</h3>
      <div class="card-content">
        <!--<div class="item item-input-inset text-item">-->
        <label class="item-input-wrapper shippingText">
                  <input  type="text" placeholder="EMPCODE"  value = "{{details.empcode}}"disabled class="shippingPlaceHldr">
                </label>
      </div>
      <div class="item item-input-inset text-item">
        <label class="item-input-wrapper shippingText">
                  <input  type="email" placeholder="ilead@gmail.com"  class="shippingPlaceHldr" value ="{{details.email}}"  disabled>
                </label>
      </div>
      <div class="list list-inset input-border">
        <label class="item item-input shippingInputHeight  shippingText">
                  <input  type="text"   placeholder="Mobile" ng-model="details.mobile" class="shippingPlaceHldr" disabled>
                </label>
      </div>
      <div class="itemlist-inset input-border">
        <label class="item item-input input-height in-edit  shippingText">
                  <textarea  class="input-area txt-area shippingAddHeight shippingPlaceHldr" ng-model="details.address" placeholder="Address"  disabled>{{data.address}}</textarea>
                </label>
      </div>
      <div class="list list-inset input-border">
        <label class="item item-input shippingInputHeight shippingText">
                  <input  type="text"   placeholder="City" ng-model="details.city" disabled class="shippingPlaceHldr">
                </label>
      </div>
      <div class="list list-inset input-border">
        <label class="item item-input shippingInputHeight shippingText ">
                  <input  type="text"   placeholder="State" ng-model="details.state" disabled class="shippingPlaceHldr">
                </label>
      </div>
      <div class="list list-inset input-border">
        <label class="item item-input shippingInputHeight shippingText">
                  <input  type="text"   placeholder="Pincode" ng-model="details.pincode" disabled class="shippingPlaceHldr">
                </label>
      </div>
      <div class="row pad0">
        <div class="col-33">
          <button class="button button-calm confirmGoBackBtn" ui-sref="app.shippingdetails">
            Go Back
          </button>
        </div>
        <div class="col-66">
          <!-- <button class="button button-balanced confirmProceed" ng-click="enterOtp=true"> -->
          <button class="button button-balanced confirmProceed" ng-click="transaction()">
            Proceed with Transaction
          </button>
        </div>
      </div>
      <!-- <button class="confirmOTP " ng-if="enterOtp" ng-click="otpGet()">Click here to generate OTP</button> -->
    </div>
    <div class="otpCard" ng-if="!otpValidate">
      <h3 class="otpHead" >Please enter the OTP you have received on your mobile</h3>

    <div class="item item-input-inset text-item">
      <label class="item-input-wrapper shippingText otpText">
                  <input  type="text" placeholder="Please enter your OTP here"  class="otpText"  ng-model="userotp" >
                </label>
    </div>
      <button class="button button-balanced otpValidate otpValidateDiv" ng-click="validotp(userotp)" ng-disabled="!userotp">
          Validate OTP
      </button>
      <button class="otpGenerate" ng-click="otpGet();userotp=''" >Click to Regenerate OTP</button>
    </div>
  </ion-content>
</ion-view>
