<ion-view class="bg-menu">
  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button>
    </ion-nav-back-button>

    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" ui-sref="home-menu">
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-nav-view name="menuContent">
    <img src="img/Ilead_Logo.png" alt="" class="iclass">
    <div class="nm-left">
      <div class="pull-right">
        <span class="color-grey">Welcome: {{profile.name}}</span>
        <span class="color-grey font-bold">Total Ponts: {{profile.points}}</span>
      </div>
    </div>
  </ion-nav-view>
  <ion-content class="">
    <div class="card contact-card">
      <div class="item item-text-wrap card-inside">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.643548959781!2d72.89069561490186!3d19.123287187060853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c805d7d93383%3A0x9a7187b21f087820!2sSanofi+India+Limited!5e0!3m2!1sen!2sin!4v1482844195401" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

        <div class="card-content">
          <div class="card-header">
            <p>Sanofi House, No 117-B, L&amp;T Business Park,
              Saki Vihar Rd, Powai, Mumbai, Maharashtra 400072</p>

              <h3>Send your Feedback</h3>
          </div>
        <form class="" name="contact" ng-submit="contactus(contactForm)">
          <div class="item item-input-inset text-item">
            <label class="item-input-wrapper input-height ">
              <input type="text" placeholder="Username" disabled ng-model="name">
            </label>
          </div>
          <!-- <div class="item item-input-inset text-item">
            <label class="item-input-wrapper input-height">
              <input type="email" placeholder="Email">
            </label>
          </div> -->

          <div class="list list-inset input-border">
            <label class="item item-input">
              <!-- <span class="input-label">Subject:</span> -->
              <input type="text" placeholder="Mobile Number" name="mob" only-Digits maxlength="10" minlength="10"  ng-model="contactForm.mobile" required>
            </label>

          </div>
          <p class="error-msg" ng-if="contact.mob.$error.required && contact.mob.$touched ">Please Enter Your Mobile Number.</p>

          <div class="list list-inset input-border">
            <label class="item item-input">
              <!-- <span class="input-label">Subject:</span> -->
              <input type="text" placeholder="Subject" name="sub" ng-model="contactForm.subject" required>
            </label>

          </div>
          <p class="error-msg" ng-if="contact.sub.$error.required && contact.sub.$touched">Please Enter Your Subject.</p>

          <div class="list list-inset input-border">
            <label class="item item-input comment">
              <textarea placeholder="Comments" class="input-area" name="comment" ng-model="contactForm.comments" required></textarea>
            </label>

          </div>
          <p class="error-msg" ng-if="contact.comment.$error.required && contact.comment.$touched">Please Enter Your Comments.</p>

          <button class="button button-stable send" type="submit">
          Send
          </button>
        </form>
      </div>
    </div>
  </ion-content>
</ion-view>
