<ion-view class="bg-menu">

  <ion-content class="">
    <div class="card contact-card">
      <div class="item item-text-wrap card-inside">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.643548959781!2d72.89069561490186!3d19.123287187060853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c805d7d93383%3A0x9a7187b21f087820!2sSanofi+India+Limited!5e0!3m2!1sen!2sin!4v1482844195401" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

        <div class="card-content">
          <div class="card-header">
            <p>Sanofi House, No 117-B, L&amp;T Business Park,
              Saki Vihar Rd, Powai, Mumbai, Maharashtra 400072</p>

              <h3>Send your Feedback</h3>
          </div>

            <div class="item item-input-inset text-item">
              <label class="item-input-wrapper input-height ">
                <input type="text" placeholder="Username">
              </label>
            </div>
            <div class="item item-input-inset text-item">
              <label class="item-input-wrapper input-height">
                <input type="email" placeholder="Email">
              </label>
            </div>
            <div class="list list-inset input-border">
              <label class="item item-input">
                <span class="input-label">Subject:</span>
                <input type="text">
              </label>
            </div>
              <div class="list list-inset input-border">
                <label class="item item-input comment">
                  <textarea placeholder="Comments" class="input-area"></textarea>
                </label>
              </div>
                <button class="button button-stable send">
                Send</button>

      </div>
    </div>
  </ion-content>
</ion-view>
