<ion-view class="bg-menu">
  <ion-content>
    <div class="sn-logo mtop15">
      <div class="text-center">
        <img src="img/logo.png" alt="sanofi" class="sn-lg-width">
      </div>
    </div>
<div class="menu-list">
  <div class="row text-center">
    <div class="col col-50" >
      <img src="img/f1.png" alt="" ui-sref="app.kpi({id:getID})">
    </div>
    <div class="col col-50" >
      <img src="img/f2.png" alt="" >
    </div>

  </div>
  <div class="row text-center">
    <div class="col col-50" >
      <img src="img/f3.png" alt="" ui-sref="app.reward({id:getID})">
    </div>
    <div class="col col-50" >
      <img src="img/f4.png" alt="" >
    </div>

  </div>
  <div class="row text-center">
    <div class="col col-50" >
      <img src="img/f5.png" alt="" >
    </div>
    <div class="col col-50" >
      <img src="img/f6.png" alt="" >
    </div>

  </div>
  <div class="row text-center">
    <div class="col" >
      <img src="img/f7.png" alt="" >
    </div>


  </div>
</div>
  </ion-content>
</ion-view>
