<ion-view class="bg-menu">
  <ion-content>
    <div class="sn-logo mtop15">
      <div class="text-center">
        <img src="img/Ilead_Logo_Oval.png" alt="sanofi" class="sn-lg-width">
      </div>
    </div>
<div class="menu-list">
  <div class="row text-center">
    <div class="col col-50 menu-img" >
      <img src="img/About_Lead.png" alt="" ui-sref="app.about">
    </div>
    <div class="col col-50 menu-img" >
      <img src="img/My_KPI.png" alt="" ui-sref="app.kpi({id:getID})">
    </div>

  </div>
  <div class="row text-center">
    <div class="col col-50 menu-img" >
      <img src="img/rewards.png" alt="" ui-sref="app.reward-category">
    </div>
    <div class="col col-50 menu-img" >
      <img src="img/Points_summery.png" alt="" >
    </div>


    <!-- <div class="col col-50" >
      <img src="img/f4.png" alt="" >
    </div> -->

  </div>
  <div class="row text-center">
    <!-- <div class="col col-50" >
      <img src="img/f5.png" alt="" >
    </div> -->


  </div>
  <div class="row text-center">
    <div class="col col-50 menu-img" >
      <img src="img/My_Profile.png" alt="" >
    </div>
    <div class="col col-50  menu-img" >
      <img src="img/Contact.png" alt="" >
    </div>


  </div>
  <div class="row text-center">
    <div class="col col-50 menu-img" >
      <img src="img/Message.png" alt="" ui-sref="app.management">
    </div>



  </div>
</div>
  </ion-content>
</ion-view>
