<ion-view class="bg-menu">

  <ion-content>
    <div class="kpi-bd">
      <div class="item item-divider text-center text-up color-white">
        My key performance indicator
      </div>
    </div>
    <div class="kpi-bds">
      <div class="item item-divider text-center text-up color-white">
        Maximum KPI points to earn - <span class="font-bold">11250</span>
      </div>
      <!-- <div class="item item-divider text-center text-up color-white kpi-strip">
        My Total Score - <span class="font-bold">5000</span>
      </div>
      <div class="item item-divider text-center text-up color-white kpi-strip">
        Score Redeem - <span class="font-bold">3000</span>
      </div>
      <div class="item item-divider text-center text-up color-white kpi-strip">
        Balance Score Available - <span class="font-bold">2000</span>
      </div> -->
      <div class="acc" ng-repeat="kpi in getData">

          <ion-list >
          <ion-item class="item-stable text-center" ng-click="toggleGroup(kpi)" ng-class="{active: isGroupShown(kpi)}">
           {{kpi.kpiDesc}} <i class="icon" ng-class="isGroupShown(kpi) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
           </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(kpi)">


            <div class="row">
              <div class="col-50">
                <div class="trans text-center kpi-div">
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold" ng-if="kpi.kpiParameters.month1!=0">{{kpi.kpiParameters.month1}}</h1>
                  <h1 class="color-white margin0 font-bold" ng-if="kpi.kpiParameters.month1==0">-</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="trans text-center kpi-div">
                  <h4 class="color-white margin0 ">Second Month</h4>
                  <h1 class="color-white margin0 font-bold" ng-if="kpi.kpiParameters.month2!=0">{{kpi.kpiParameters.month2}}</h1>
                  <h1 class="color-white margin0 font-bold" ng-if="kpi.kpiParameters.month2==0">-</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <div class="trans text-center kpi-div">
                  <h4 class="color-white margin0 ">Third Month</h4>
                  <h1 class="color-white margin0 font-bold" ng-if="kpi.kpiParameters.month3!=0" >{{kpi.kpiParameters.month3}}</h1>
                  <h1 class="color-white margin0 font-bold" ng-if="kpi.kpiParameters.month3==0">-</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="trans text-center kpi-div">
                  <h4 class="color-white margin0 " ng-if="kpi.kpiDesc!='Certification (Annual)' && kpi.kpiDesc!='Online Quiz (Annual)'">Quarter</h4>
                  <h4 class="color-white margin0 " ng-if="kpi.kpiDesc=='Certification (Annual)' || kpi.kpiDesc=='Online Quiz (Annual)'">Annual</h4>
                  <h1 class="color-white margin0 font-bold" ng-if="kpi.kpiParameters.quarter!=0">{{kpi.kpiParameters.quarter}}</h1>
                  <h1 class="color-white margin0 font-bold" ng-if="kpi.kpiParameters.quarter==0">-</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="trans text-center kpi-big">
                  <h4 class="color-white margin0 ">Total</h4>
                  <h1 class="color-white margin0 font-bold">{{kpi.kpiParameters.total}}</h1>
                </div>
              </div>
            </div>
            <!-- <div class="clauses">
              <h3>Clause1:</h3>
              <p ng-bind-html = "kpi.clause1"> </p>
            </div>
              <div class="clauses">
              <h3>Clause2:</h3>
              <p ng-bind-html = "kpi.clause2"> </p>

            </div> -->
            </ion-item>
        </ion-list>

      <!-- </div>
       <div class="acc">
        <ion-list>
          <div>
            <ion-item class="item-stable text-center" ng-click="toggleGroup(2)" ng-class="{active: isGroupShown(2)}">
               Shubhlabh HUB Coupon Allocation  Span <i class="icon" ng-class="isGroupShown(2) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(2)">
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Second Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Third Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Quarter</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="pnt1 text-center">
                  <h4 class="color-white margin0 ">Total</h4>
                  <h1 class="color-white margin0 font-bold">650</h1>
                </div>
              </div>
            </div>
            <div class="clauses">
              <h3>Clause1:</h3>
              <p>Quarter C/D>=BU's C/D Objective </p>
               <p>Quarter Average DRc <=3.0 </p>
            </div>
              <div class="clauses">
              <h3>Clause2:</h3>
              <p>Quarter Target to be >= 100% to redeem<br>the score incase of target <br>achievement< 100% cannot <br>redeem score can win back <br>by next quarter by achieving YTD target</p>
            </div>
            </ion-item>
          </div>
        </ion-list>

      </div>
             <div class="acc">
        <ion-list>
          <div>
            <ion-item class="item-stable text-center" ng-click="toggleGroup(3)" ng-class="{active: isGroupShown(3)}">
               POB Calls <i class="icon" ng-class="isGroupShown(3) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(3)">
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Second Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Third Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Quarter</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="pnt1 text-center">
                  <h4 class="color-white margin0 ">Total</h4>
                  <h1 class="color-white margin0 font-bold">650</h1>
                </div>
              </div>
            </div>
            <div class="clauses">
              <h3>Clause1:</h3>
              <p>Quarter C/D>=BU's C/D Objective </p>
               <p>Quarter Average DRc <=3.0 </p>
            </div>
              <div class="clauses">
              <h3>Clause2:</h3>
              <p>Quarter Target to be >= 100% to redeem<br>the score incase of target <br>achievement< 100% cannot <br>redeem score can win back <br>by next quarter by achieving YTD target</p>
            </div>
            </ion-item>
          </div>
        </ion-list>

      </div>
             <div class="acc">
        <ion-list>
          <div>
            <ion-item class="item-stable text-center" ng-click="toggleGroup(4)" ng-class="{active: isGroupShown(4)}">
               Coaching Rate <i class="icon" ng-class="isGroupShown(4) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(4)">
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Second Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Third Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Quarter</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="pnt1 text-center">
                  <h4 class="color-white margin0 ">Total</h4>
                  <h1 class="color-white margin0 font-bold">650</h1>
                </div>
              </div>
            </div>
            <div class="clauses">
              <h3>Clause1:</h3>
              <p>Quarter C/D>=BU's C/D Objective </p>
               <p>Quarter Average DRc <=3.0 </p>
            </div>
              <div class="clauses">
              <h3>Clause2:</h3>
              <p>Quarter Target to be >= 100% to redeem<br>the score incase of target <br>achievement< 100% cannot <br>redeem score can win back <br>by next quarter by achieving YTD target</p>
            </div>
            </ion-item>
          </div>
        </ion-list>

      </div>
            <div class="acc">
        <ion-list>
          <div>
            <ion-item class="item-stable text-center" ng-click="toggleGroup(5)" ng-class="{active: isGroupShown(5)}">
               RBM Double Calls  <i class="icon" ng-class="isGroupShown(5) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(5)">
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Second Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Third Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Quarter</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="pnt1 text-center">
                  <h4 class="color-white margin0 ">Total</h4>
                  <h1 class="color-white margin0 font-bold">650</h1>
                </div>
              </div>
            </div>
            <div class="clauses">
              <h3>Clause1:</h3>
              <p>Quarter C/D>=BU's C/D Objective </p>
               <p>Quarter Average DRc <=3.0 </p>
            </div>
              <div class="clauses">
              <h3>Clause2:</h3>
              <p>Quarter Target to be >= 100% to redeem<br>the score incase of target <br>achievement< 100% cannot <br>redeem score can win back <br>by next quarter by achieving YTD target</p>
            </div>
            </ion-item>
          </div>
        </ion-list>

      </div>
    </div> -->

  </ion-content>
</ion-view>
