<ion-view class="bg-menu">

  <ion-content>
    <div class="kpi-bd">
      <div class="item item-divider text-center text-up color-white">
        My key performance indicator
      </div>
    </div>
    <div class="kpi-bds">
      <div class="item item-divider text-center text-up color-white">
        Maximum KPI points to earn - <span class="font-bold">11000</span>
      </div>
      <div class="acc">
        <ion-list>
          <div>
            <ion-item class="item-stable text-center" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
               Shubhlabh Wholesale Activation Span <i class="icon" ng-class="isGroupShown(group) ? 'ion-chevron-up' : 'ion-chevron-down'"></i>
            </ion-item>
            <ion-item class="item-accordion" ng-show="isGroupShown(group)">
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Second Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Third Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
                <div class="pnt text-center">
                  <h4 class="color-white margin0 ">Quarter</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="pnt1 text-center">
                  <h4 class="color-white margin0 ">Total</h4>
                  <h1 class="color-white margin0 font-bold">650</h1>
                </div>
              </div>
            </div>
            <div class="clauses">
              <h3>Clause1:</h3>
              <p>Quarter C/D>=BU's C/D Objective </p>
               <p>Quarter Average DRc <=3.0 </p>
            </div>
              <div class="clauses">
              <h3>Clause2:</h3>
              <p>Quarter Target to be >= 100% to redeem<br>the score incase of target <br>achievement< 100% cannot <br>redeem score can win back <br>by next quarter by achieving YTD target</p>
            </div>
            </ion-item>
          </div>
        </ion-list>

      </div>
    </div>

  </ion-content>
</ion-view>
