<ion-view class="bg-login">
  <ion-content>
    <div class="sn-logo mtop">
      <div class="text-center">
        <img src="img/logo.png" alt="sanofi" class="sn-lg-width">
      </div>
    </div>
    <div class="lg-form">
      <form name="loginForm" ng-submit="submitLoginForm(loginData)">
        <div class="list">
          <div class="sn-relative">
            <i class="ion-person"></i>
            <label class="item item-input">
      <input type="text" placeholder="USERNAME" name="userName" ng-model="loginData.username">
      <div class="error-msg" ng-show="loginForm.userName.$error.required && loginForm.userName.$dirty">User Name is required</div>
    </label>
          </div>
        </div>
        <div class="list">
          <div class="sn-relatve">
            <i class="ion-ios-locked"></i>
            <label class="item item-input">
          <input type="password" placeholder="PASSWORD" name="password" ng-model="loginData.password">
          <div class="error-msg" ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Password is required</div>
          </label>
          </div>
        </div>

      <div class="lg-button">
        <!-- <button class="button  button-small button-positive" ui-sref="total-point">
Login
</button> -->
        <button class="button  button-small button-positive" ng-click="showAlert()">
Login
</button>
      </div>
      </form>
    </div>
  </ion-content>
</ion-view>
