<ion-view class="bg-menu">

  <ion-content class="">
    <div class="card">
      <div class="item item-text-wrap card-margin">
          <div class="">
              <div class="msg">
                <h2  class="message">Message from</h2 >
                <h2 class="header-msg manager">GENERAL MANAGER</h2 >
                  <h3>-Pharma Operations</h3>
              </div>
          </div>

        <div class="text-center manager-img">
          <img src="img/managermsg.png" alt="" >
        </div>

        <div class="manager-para">
          <h3 class="text-bold">Dear Friends,</h3>
          <p>At the outset, we wish you and your family, a very Happy and Prosperous New Year! It is a great moment as we set our sails to start a new voyage in year 2017 with renewed hopes &amp; aspirations and to achieve what we have not achieved earlier….after all, every year has to be a step forward from  previous one.  </p>
          <p>At this juncture, we are reminded of the words of great mountaineer, Sir Edmond Hillary, who conquered Mount Everest- <span class="text-bold">“People do not decide to become extraordinary…they decide to accomplish extraordinary things” </span></p>
          <p>We can draw a parallel here with what you do in the field… all your achievements in terms of sales numbers at the end of a quarter or a year, are always the result of planning, executing and finally accomplishing the processes on a day to day basis.</p>
          <p>No wonder…that is the reason why W. Edwards Deming, a great Management Consultant famously said, <span class="text-bold">“We should work on our processes and not the outcome”</span> ….so if the processes are right and well executed, they will always lead to success.</p>
          <p>To celebrate this spirit of Process Orientation in year 2017, we are introducing an innovative program,“i Lead” in our incentive scheme, which besides rewarding your sales achievements, will also reward the processes which each of you undertake in a unique fashion. This program allows you not only to accomplish extraordinary things at the market place, but also to decide your own rewards from the whole gamut of options available in your hand…</p>
          <p>We are sure that this new program called <span class="text-bold">“i Lead”</span> will bring lots of joy and happiness to our sales force. This will help in the execution of right processes at the ground level and eventually ensure the success of organization in 2017.</p>
          <p>So……. <span class="text-bold">“Trust the processes”</span> and let them pave the path of your success.</p>
          <p>Wishing you all the very best,</p>
          <h3>N. Rajaram</h3>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
