<ion-view class="bg-menu">
  <ion-content class="myCartCard">
    <div class="">
      <label class="myCartLabel" for="">Your Shopping Bag</label>
      <div class="">
        <div class="card " ng-repeat="carts in cart">
          <div class="row">
            <div class="col-66 myCartBorder">
              <label class="myCartProName" for="">{{carts.name}}</label>
              <div> <label class="myCartQty" for="">Qty</label>
                <select class="dropDown myCartDrop" ng-model="carts.quantity" ng-options="q for q in quantity" ng-change="updateqty(carts)">
      </select>
              </div>
              <div><label class="myCartPoints" for="">Points: <span class="myCartPtsClr">{{carts.points}}</span></label></div>
              <div><label class="myCartTotPts" for="">Total Points: <span class="myCartPtsClr">{{carts.points*carts.quantity}}</span></label>
                <label class="myCartAction" for="">Action  :</label>
                <button class="myCartDelete" ng-click="deletecartitem(carts)">Delete</button>
              </div>
              <div>
              </div>
            </div>
            <div class="col-33 ">
              <div class="myCartImg"> <img ng-src="{{carts.image}}" class="img-responsive ">
                <label class="myCartModel" for="">{{carts.modelno}}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="button button-block button-positive myCartPtsBtn" disabled>
  Grand Total Points : {{grandTotal}}
</button>
      <button class="button button-block button-positive myCartShpBtn" ui-sref="app.reward-category">
  Continue Shopping
</button>
      <button class="button button-block button-positive myCartProceedBtn" ui-sref="app.shippingdetails">
  Proceed with Shipping Address
</button>
      <!--<div class="item item-text-wrap card-margin"></div>-->
    </div>
  </ion-content>
</ion-view>
