<ion-view class="bg-menu">
  <ion-content class="otpCard">
    <h3 class="otpHead">Please enter the OTP you have received on your mobile</h3>
    </div>
    <div class="item item-input-inset text-item">
      <label class="item-input-wrapper shippingText otpText">
                  <input  type="email" placeholder="Please enter your OTP here"  class="otpText" value ="{{data.email}}" disabled>
                </label>
    </div>
    <div class="otpValidateDiv">
      <button class="button button-balanced otpValidate">
          Validate OTP
</button>
    </div>
    <div class="otpGenerateDiv">
      <button class="otpGenerate">Click to Regenerate OTP</button>
    </div>
  </ion-content>
</ion-view>
