<ion-view class="bg-menu">

  <ion-content class="">
    <div class="text-center profile-pic">
      <img src="img/user.png" alt="" >
    </div>
    <div class="card profile-card">
      <h3 class="text-center">My Profile</h3>

            <div class="card-content">


              <div class="item item-input-inset text-item">
                <label class="item-input-wrapper input-height ">
                  <input type="text" placeholder="Username" disabled>
                </label>
              </div>
              <div class="item item-input-inset text-item">
                <label class="item-input-wrapper input-height">
                  <input type="email" placeholder="Email" disabled>
                </label>
              </div>
              <div class="list list-inset input-border" >
                <label class="item item-input">
                <input type="text" placeholder="Name:" disabled>
                </label>
              </div>
              <div class="list list-inset input-border">
                <label class="item item-input">
                <input type="text" placeholder="Mobile:"disabled>
                </label>
              </div>
              <div class="list list-inset input-border">
                <label class="item item-input">
                <input placeholder="Date of Birth:"  type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" id="date" disabled>
                </label>
              </div>
              <!-- <div class="list list-inset input-border">
                <label class="item item-input">
                <input  placeholder="Date of Anniversary:"  type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" id="date">

                </label>
              </div> -->
                <div class="list list-inset input-border">
                  <label class="item item-input comment">
                    <textarea placeholder="Address :" class="input-area txt-area" disabled></textarea>
                  </label>
                </div>
                <button class="button button-stable send">
                Update</button>


            </div>


  </ion-content>
</ion-view>
