<ion-view class="bg-menu">

    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ui-sref="home-menu">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent">
      <img src="img/Ilead_Logo.png" alt="" class="iclass">
      <div class="nm-left">
        <div class="pull-right">
          <span class="color-grey">Welcome: {{profile.name}}</span>
          <span class="color-grey font-bold">Total Ponts: {{profile.points}}</span>
        </div>
      </div>
    </ion-nav-view>
  <ion-content class="">
    <div class="text-center profile-pic profile-div" ng-click="showActionsheet()">
      <img src="http://ilead.mypride.co.in/ProfilePics/201703301054044284_ProfileDummy.png" alt="" ng-if="!data.image">
      <img ng-src="{{data.image}}" alt="" ng-if="data.image">
    </div>
    <div class="card profile-card">
      <h3 class="text-center">My Profile</h3>
            <div class="card-content">
              <div class="item item-input-inset text-item">
                <label class="item-input-wrapper input-height ">
                  <input type="text" placeholder="Employee Code:"  value = "Employee Code: {{data.empcode}}"disabled>
                </label>
              </div>
              <div class="item item-input-inset text-item">
                <label class="item-input-wrapper input-height">
                  <input type="email" placeholder="Email:" value ="Email : {{data.email}}" disabled>
                </label>
              </div>
              <div class="item item-input-inset text-item">
                <label class="item-input-wrapper input-height ">
                  <input type="text" placeholder="Name:" value="Name : {{data.name}}" disabled>
                </label>
              </div>
              <div class="item item-input-inset text-item">
                <label class="item-input-wrapper input-height ">
                  <input type="text" placeholder="Mobile:" value= "Mobile : {{data.mobile}}" disabled>
                </label>
              </div>
              <div class="list list-inset input-border">
                <!-- <label class="item-input-wrapper input-height ">
                  <input placeholder="Date of Birth" type="text" onfocus="(this.type='date')" value="Date of Birth : {{data.dob | date}}" onfocusout="(this.type='text')">
                </label> -->
                <label class="item item-input input-height in-edit">
                  <span class="input-label">Date of Birth :</span>
                  <input  type="text" onfocus="(this.type='date')" value="{{data.dob | date:'dd-mm-yyyy'}}" ng-model="data.dob" onfocusout="(this.type='text')">
                </label>
              </div>

              <!-- <div class="list list-inset input-border">
                <label class="item item-input">
                <input placeholder="Date of Birth:"  type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" id="date" disabled>
                </label>
              </div> -->
              <!-- <div class="list list-inset input-border">
                <label class="item item-input">
                <input  placeholder="Date of Anniversary:"  type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" id="date">
                </label>
              </div> -->
              <div class="list list-inset input-border ">
                <!-- <label class="item-input-wrapper input-height ">
                  <input type="text" placeholder="Location" value="Location : {{data.location}}" >
                </label> -->
                <label class="item item-input input-height in-edit">
                  <span class="input-label">Location :</span>
                  <input type="text"  value="{{data.location}}" ng-model="data.location">
                </label>
              </div>
              <div class="itemlist-inset input-border">
                <!-- <label class="item-input-wrapper comment ">
                  <textarea placeholder="Address :" class="input-area txt-area">Address : {{data.address}}</textarea>
                </label> -->
                <label class="item item-input input-height in-edit">
                  <span class="input-label">Address :</span>
                  <textarea  class="input-area txt-area" ng-model="data.address">{{data.address}}</textarea>
                </label>
              </div>

                <button class="button button-stable send" ng-click="update(data);">
                Update</button>


            </div>


  </ion-content>
</ion-view>
