<ion-view class="bg-menu">
  <ion-item class="item-stable has-header fixed-tab" >
    <i class="ion ion-ios-arrow-thin-left"></i>
    <label for="">REWARD CATEGORIES</label>
  </ion-item>
  <ion-content>
    <div class="kpi-bdss">
      <div class="item item-divider text-center text-up color-white">
        <div class="acc">
          <ion-list>
            <div>

              <ion-item class="item-accordion" >
                <div class="row" ng-if="getRewardData.length>0" ng-repeat="data1 in getRewardData">
                  <div class="col-50" ng-repeat="data in data1">
                    <div class="pnt text-center">
                      <div class="box">
                        <div class="images">
                          <img ng-src="{{data.image}}" class="img-responsive" alt="">
                        </div>
                      </div>
                      <div class="name">
                        <p>{{data.name}}</p>
                      </div>
                      <div class="points">
                        <p>Points: {{data.points}}</p>
                      </div>
                      <!--<h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>-->
                    </div>
                  </div>
                  <!-- <div class="col-50">
              <div class="pnt text-center">
                  <div class="box">
 <div class="images">
  <img src="img/blacky.jpg" class="img-responsive" alt="">

                  </div>
                  </div>
                 <div class="name">
 <p>Philips Headphone</p>
                 </div>
                <div class="points">
                  <p>Points: 1200</p>
                  </div>
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div> -->
                </div>
                <div ng-if="getRewardData.length==0">No data Found</div>
                <!-- <div class="row">
              <div class="col-50">
                 <div class="pnt text-center">
                  <div class="box">
 <div class="images">
  <img src="img/head.jpg" class="img-responsive" alt="">

                  </div>
                  </div>
                 <div class="name">
 <p>JBL Wired Headphones</p>
                 </div>
                <div class="points">
                  <p>Points: 700</p>
                  </div>
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
              <div class="col-50">
               <div class="pnt text-center">
                  <div class="box">
 <div class="images">
  <img src="img/blue.jpg" class="img-responsive" alt="">

                  </div>
                  </div>
                 <div class="name">
 <p>Sony Wired Headphones</p>
                 </div>
                <div class="points">
                  <p>Points: 600</p>
                  </div>
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>-->
                <!-- </div>
              </div>
            </div>
                    <div class="row">
              <div class="col-50">
               <div class="pnt text-center">
                  <div class="box">
 <div class="images">
  <img src="img/purple.jpg" class="img-responsive" alt="">

                  </div>
                  </div>
                 <div class="name">
 <p>Lenovo Sterio Headphone</p>
                 </div>
                <div class="points">
                  <p>Points: 450</p>
                  </div>
                  <h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>-->
                <!-- </div>
              </div>
              <div class="col-50">
              <div class="pnt text-center">
                  <div class="box">
 <div class="images">
  <img src="img/phillip.jpg" class="img-responsive" alt="">

                  </div>
                  </div>
                 <div class="name">
 <p>Lenovo Sterio Headphone</p>
                 </div>
                <div class="points">
                  <p>Points: 450</p>
                  </div>
                  -<h4 class="color-white margin0 ">First Month</h4>
                  <h1 class="color-white margin0 font-bold">100</h1>
                </div>
              </div>
            </div>  -->
              </ion-item>
            </div>
          </ion-list>

        </div>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer filter"  ng-click="goFilter();">
  <!-- <div class="bar bar-footer filter"  ui-sref="app.filter-reward({catalogueId:catlougeId0,categoryId:getRewardCatData.categoryId})"> -->
    <div class="inside">
      <img src="img/filter.png" alt="">
      <label for="" >Points Filter</label>
    </div>

</div>
</ion-view>
