<ion-view class="bg-menu">

  <ion-item class="item-stable has-header fixed-tab filter-tab header-shadow" >
    <div class="content-div" ui-sref="app.reward({catalogueId:catlougeId0,categoryId:''})">
      <label for="">SELECT CATEGORY</label>
      <i class="ion ion-ios-arrow-thin-right"></i>
    </div>


  </ion-item>

  <ion-content>
    <!-- <div class="row filter-header">
      <div class="col-50 ">
        <div class="pnt text-center min-h shadow" ui-sref="app.reward({catalogueId:catlougeId0,categoryId:''})">
          <h1 class="color-white margin0  font-s">All Product</h1>
        </div>
      </div>
      <div class="col-50 ">
        <div class="pnt text-center min-h shadow" ui-sref="app.reward({catalogueId:catlougeId0,categoryId:getRewardCatData.categoryId})">

          <h1 class="color-white margin0  font-s">{{getRewardCatData.name}}</h1>
        </div>
      </div>
    </div>
    <div class="row" ng-repeat="data1 in getRewardCategoryData">
      <div class="col-50 " ng-repeat="data in data1" ui-sref="app.reward({catalogueId:catlougeId0,categoryId:data.categoryId})">
        <div class="pnt text-center min-h shadow">
          <h1 class="color-white margin0 font-s">{{data.name}}</h1>
        </div>
      </div>
    </div> -->
    <div class=" filter-header">
      <div class="">
        <div class="pnt text-center min-h shadow" ui-sref="app.reward({catalogueId:catlougeId0,categoryId:''})">
          <h1 class="color-white margin0  font-s">All Product</h1>
        </div>
      </div>

    <div class="" ng-repeat="data in getRewardCatData">
      <div class=" " ui-sref="app.reward({catalogueId:catlougeId0,categoryId:data.categoryId})">
        <div class="pnt text-center min-h shadow">
          <h1 class="color-white margin0 font-s">{{data.name}}</h1>
        </div>
      </div>
    </div>
    <!-- <div class="disclaim">
      <p>*This gifts catalogue is only indicative and for demonstration purpose only. Final catalogue for redemption will be uploaded later.</p>
    </div> -->
  </ion-content>
</ion-view>
