<!--<ion-view class="bg-menu">
  <ion-content class="card">
    <input type="text" placeholder="Employee Code:" value="Employee Code: ILEAD12345" disabled="">
  </ion-content>
</ion-view>-->
<ion-view class="bg-menu">
  <ion-content class="shippingCard">
    <div class="">
      <h3 class="shippingHead">Please enter your Shipping Address</h3>
      <div class="card-content">
        <!--<div class="item item-input-inset text-item">-->
        <label class="item-input-wrapper shippingText">
                  <input  type="text" placeholder="EMPCODE"  value = "{{data.empcode}}"disabled class="shippingPlaceHldr">
                </label>
      </div>
      <div class="item item-input-inset text-item">
        <label class="item-input-wrapper shippingText">
                  <input  type="email" placeholder="ilead@gmail.com"  class="shippingPlaceHldr" value ="{{data.email}}" disabled>
                </label>
      </div>
      <div class="list list-inset input-border">
        <label class="item item-input shippingInputHeight">
                  <input  type="text"   placeholder="Mobile">
                </label>
      </div>
      <div class="itemlist-inset input-border">
        <label class="item item-input input-height in-edit shippingAddlbl">
                  <textarea  class="input-area txt-area shippingAddHeight" ng-model="data.address" placeholder="Address" >{{data.address}}</textarea>
                </label>
      </div>
      <div class="list list-inset input-border">
        <label class="item item-input shippingInputHeight">
                  <input  type="text"   placeholder="City">
                </label>
      </div>
      <div class="list list-inset input-border">
        <label class="item item-input shippingInputHeight">
                  <input  type="text"   placeholder="State">
                </label>
      </div>
      <div class="list list-inset input-border">
        <label class="item item-input shippingInputHeight">
                  <input  type="text"   placeholder="Pincode">
                </label>
      </div>
      </button>
      <button class="button button-block button-positive myCartProceedBtn" ui-sref="app.confirmorder">
  Proceed to CheckOut
</button>
    </div>
  </ion-content>
</ion-view>
