<ion-view class="bg-menu">

<ion-content  class="recent-checkin">


      <div class="card">
  <div class="item item-text-wrap">
    <ul class="terms">
      <h3 class="text-center">Terms and Conditions</h3>

      <li> Employee will be entitled for points after fulfilling
  all of the below mentioned conditions:
<br>
<ul class="inside-li">
  <li> the Quarter CPA (A+B) is more than or equal
     to 90%</li>
     <li> the Quarter average of Calls Per Day is more
        than or equal to the BU’s Calls / Day
        Objective</li>
        <li> the Quarter Average DRC is less than 3.0</li>
</ul>
</li>
<li>Employee can accumulate the points for more
   than one Quarter. It can be redeemed at any
   time of the year or at the end of the year.
   Redemption shall be based on quarterly scores
   only.
</li>
<li>To redeem the points, the Target achievement of
   the respective Quarter needs to be more than or
   equal to 90%.<br>
   <ul class="inside-li">
     <li> In case the Quarterly Target Achievement is
        less than 90%, employee cannot redeem the
        points.</li>
   </ul>
</li>
    <li> Employee can redeem the accumulated points of
   consecutive Quarters on achievement of more
   than or equal to 90% of the YTD Target <br>
   <ul class="inside-li">
     <li>For example - If an employee had achieved
            less than 90% for first Quarter but the
            achievement is more than or equal to 90% for
            YTD at the end of 2nd Quarter, the employee
            can redeem the accumulated points of 1st &amp;
            2nd Quarters.
      </li>
   </ul>
</li>
 <li> In case of resignation of the employee, the
   employee will not be entitled for any points in the
   current Quarter. He/She cannot redeem any of
   the accumulated points of previous Quarters as
   well, after resignation.</li>
   <li>For new employee, employee will be entitled for
   points from the next Quarter after the joining.<br>
   <ul class="inside-li">
     <li> For example - If the employee joins in the
       month of February, the employee will be
       entitled for points from the second quarter of
       2016.</li>
     </ul>

 </li>

   <li>In case of transfer of employee, the points as per
  the actual achievement in the respective
  headquarters will be considered. <br>
    <ul class="inside-li">
      <li> In case of transfer in the second month of the
      quarter, the achievement for the first month in
      the previous headquarters and the second and
      third months in the new head quarter will be
      considered.</li>
    </ul>
</li>
<li> In case of promotion of the employee in the mid
   of the Quarter, the employee will not be entitled
   for any score for the Quarter.</li>
   <li> In case of promotion of the employee in the first
   month of the Quarter, the employee will be
   entitled for the points of the new position.
</li>
<li>There will not be any exceptions considered for
    the entire program and will be independent of
    the all the other exceptions considered in the
    monetary incentive scheme.</li>
    <li> Delivery of selected product to the employee will
   depend on the availability of items. In case of
   non-availability of any of the product selected,
   employee has to choose from other alternatives
   in the catalogue.
</li>
<li>Sanofi is not responsible for the quality, servicing,
   guarantee, warranty or any other aspects related
   to the products mentioned in the catalogue.</li>
   <li>In case of any dispute, the management’s decision will be final. </li>
    </ul>
  </div>
</div>





</ion-content>

</ion-view>
