<ion-view class="bg-menu">

<ion-content  class="recent-checkin">


      <div class="card">
  <div class="item item-text-wrap">
    <ul class="terms">
      <h3 class="text-center">Terms and Conditions</h3>

      <li> Employee will not be entitled for any points in
   case of any one or more of the below mentioned
   scenarios.<br>
   <div class="">
     <span>» the Quarter CPA (A+B) is less than 90%</span><br>
   <span>» the Quarter average of calls per day is less than
    the BU’s Calls / Day Objective</span><br>
   <span>» the Quarter Average DRC is greater than 3.0</span>
   </div>
</li>


<li>Employee can accumulate the points for more
   than one Quarter and can redeem any time in
   the year.
</li>
<li>To redeem the points, the Target achievement of
    the respective Quarter needs to be more than or
    equal to 90%.r.<br>
  <div class="">
    <span>» In case of Target Achievement less than 90%,
    employee cannot redeem the points.</span>
  </div>
</li>
<li> To redeem the points, the Target achievement of
    the respective Quarter needs to be more than or
    equal to 90%.r.</li>
    <li> Employee can redeem the accumulated points of
   consecutive Quarters on achievement of more
   than or equal to 90% of the YTD Target <br>
 <div class="">
   » For example- If an employee had achieved less
    than 90% for first Quarter but the achievement is
    more than or equal to 90% for YTD at the end of
    2nd Quarter, the employee can redeem the
    accumulated points of 1st & 2nd Quarters.
 </div></li>
 <li> In case of resignation of the employee, the
   employee will not be entitled for any points in the
   current Quarter. He/She cannot redeem any of
   the accumulated points of previous Quarters as
   well after resignation.</li>
   <li>For new employee, employee will be entitled for
   points from the next Quarter after the joining.<br>
 <div class="">
   » For example- If the employee joins in the month
    of February, the employee will be entitled for
    points from the second quarter of 2016.

 </div></li>
 <li>In case of transfer of employee, the points as per
   the actual achievement in the respective head
   quarters will be considered</li>
   <li>Employee can redeem the accumulated points of
   consecutive Quarters on achievement of more
   than or equal to 90% of the YTD Target </li>
   <li> In case of transfer in the second month of the
    quarter, the achievement for the first month in
    the previous headquarters and the second and
    third months in the new head quarter will be
    considered.
</li>
<li> In case of promotion of the employee in the mid
   of the Quarter, the employee will not be entitled
   for any score for the Quarter.</li>
   <li>n case of promotion of the employee in the first
   month of the Quarter, the employee will be
   entitled for the points of the new position.
</li>
<li>There will not be any exceptions considered for
    the entire program and will be independent of
    the all the other exceptions considered in the
    monetary incentive scheme.</li>
    <li> Delivery of selected product to the employee will
   depend on the availability of items. In case of
   non-availability of any of the product selected,
   employee has to choose from other alternatives
   in the catalogue.
</li>
<li>Sanofi is not responsible for the quality, ervicing,
   guarantee, warranty or any other aspects related
   to the products mentioned in the catalogue</li>


    </ul>
  </div>
</div>





</ion-content>

</ion-view>
