<ion-view class="bg-login">
  <ion-content>
    <div class="sn-logo mtop15">
      <div class="text-center">
        <img src="img/Ilead_Logo_Oval.png" alt="sanofi" class="sn-lg-width">
      </div>
    </div>
    <div class="lg-form">
      <div class="tl-point text-center">
        <div class="point">
          <h4 class="color-white margin0 ">TOTAL POINTS</h4>
          <h1 class="color-white margin0 font-bold" ng-if="getData.points">{{getData.points}}</h1>
        </div>
      </div>
      <div class=" continue">
        <button class="button  button-small button-positive" ui-sref="home-menu">
Continue
</button>
      </div>
    </div>
  </ion-content>
</ion-view>
